{{#types}}
    {{#isEnum}}
        {{{doc}}}
        export const enum {{name}} {
        {{#enumVars}}
            {{{name}}} = {{{value}}}{{^-last}},{{/-last}}
        {{/enumVars}}
        }
    {{/isEnum}}{{#type}}
        {{{doc}}}
        export type {{name}} = {{type}};
    {{/type}}{{^isEnum}}{{^type}}
        {{{doc}}}
        export interface {{name}} {
        {{#additionalPropertiesType}}
            [key: string]: {{{additionalPropertiesType}}}{{#hasVars}} | any{{/hasVars}};
        {{/additionalPropertiesType}}
        {{#properties}}
            {{{doc}}}
            {{name}}{{^required}}?{{/required}}: {{{type}}}{{#isNullable}} | null{{/isNullable}};
        {{/properties}}
        }
    {{/type}}{{/isEnum}}

{{/types}}
